h1:hover{
color: red;
}

    
    li:nth-child(2){
    color: red;
    }
    /* attribute selector for multiple image */
    img[src^="../images/"]{
        border: 10px solid red;

    }

.fast{
        color:brown;
        background-color:aqua;
    }
    .fast1{
        color:blueviolet;
    }
    #para-text{
        color: chartreuse;
    }
    /* body{
        background: url("link of an image")
        
        */
   #imag{
    
    margin: 20px;
   
    
    height: 10px;
    width: 10%;
    background-size: cover;
    background:red;
    align-content: end;
    
   }

.div-1{
    border: 2px solid black;
    /* background: linear-gradient(to right, blue, green, red); */
    /* background: linear-gradient(to top, blue, green, red); */
    background: radial-gradient(circle, red 20%,blue 40%,yellow 50%);
    height: 500px;
    width: 70%;
    
    
}

