h1:hover{
color: red;
}

    
    li:nth-child(2){
    color: red;
    }
    /* attribute selector for multiple image */
    img[src^="../images/"]{
        border: 10px solid red;

    }

.fast{
        color:brown;
        background-color:aqua;
    }
    .fast1{
        color:blueviolet;
    }
    #para-text{
        color: chartreuse;
    }
    /* body{
        background: url("link of an image")
        
        */
   