h1:hover{
color: red;
}

    
    li:nth-child(2){
    color: red;
    }
    /* attribute selector for multiple image */
    /* img[src^="../images/"]{ */
        /* border: 10px solid red; */

    

.fast{
        color:brown;
        background-color:aqua;
        font-weight: 700;
    }
    .fast1{
        color:blueviolet;
    }
    #para-text{
        color: chartreuse;
    }
    /* body{
        background: url("link of an image")
        
        */
   #imag{
    
    margin: 20px;
   
    
    height: 10px;
    width: 10%;
    background-size: cover;
    background:red;
    align-content: end;
    
   }

.div-1{
    border: 2px solid black;
    /* background: linear-gradient(to right, blue, green, red); */
    /* background: linear-gradient(to top, blue, green, red); */
    background: radial-gradient(circle, red 20%,blue 40%,yellow 50%);
    height: 500px;
    width: 70%;
    
    
}
body{
 
   font-size: 20px;
   text-align: justify;
   font-family: sans-serif;
   background-color:aquamarine;
}

#new-img{
    height:300px;
    width:60% ;
    
    border: 5px solid black ;
    padding-left: 20px;
    padding-top: 20px;
    padding-right: 30px;
    padding-bottom: 40px;
    background:gray;
    margin: 40px;
    float: none;
    /* display: none; */
}
.container{
    
    display: flex;
    margin: 10px;
    /* revering  =flex-direction: column-reverse; */
    flex-direction: row;
    flex-wrap: wrap;
    /* justify-content: center; */
    /* justify-content: space-between; */
    justify-content: space-around;
    background-color: white;
    align-items: baseline;
}
.container-item{
    background: gray;
    color:black;
    font-size: 30px;
    text-align: center;
    width: 70px;
    line-height: 50px;
    margin: 10px;
    height: 200px;
    flex-direction: row;

    

}